// html {
//     scroll-behavior: smooth;
// }

.navbar {
    opacity: 0.9;
    background: #fff;
}

.active-link{
    color: #AE000A!important;
}

.fas-icon {
    color: #AE000A;
}

.mt-top {
    margin-top: 4rem;
}


.devotions {

    .input-search {
        border-right: none;
        outline: none;
        border-radius: 5px;
    }

    .devotional-img {
        text-align: center;

        .img {
            width: 400px;
        }
    }
    
    button {
        font-size: 17px;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .devotional-title {
        border-bottom: 1.5px solid #AE000A;
    }

    .load {
        display: block;
        width: max-content;
        margin: 0 auto;
    }

    .form-comment {
        display: none;

        textarea {
            outline: none;
        }
    }

}

#news {

    .btn {
        display: block;
        text-align: right;
    }
}

#faqs {

    .accordion-header{
        display: flex !important;
        align-items: baseline;
        background: #00ffff;
        padding: 5px 10px 0 10px;

        h3{
            font-size: 22px;
        }
    }

    p {
        padding: 5px 10px 0 10px;
        background: #f0f8ff;
    }
}

#contactUs {
    background: #E8E9E8;

    h3 {
        display: inline;
    }
    
    textarea {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1.5px solid #AE000A;
        padding: 11px;
        outline: none;
    }
}

#arrowUp {

    .arrowUp-body {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: brown;
        outline: none;
        text-decoration: none;

        .fa-icon {
            font-size: 33px;
            color: #fff;
        }
    }
}

.single-dev {
   
    img {
        width: 350px;
    }
}
